#formu {
	position: absolute;
	top: 450px;
	font-size: 22px;
    left: 40%;
}

#justificacion {
    width: 250px;
    height: 250px;
}

#calificacion {
	position: absolute;
    top: -20px;
}

#titulo {
	position: absolute;
	top: -70px;
	font-size: 22px;
}

#postulante {
	position: absolute;
	top: -45px;
	font-size: 12px;
}

#enviar {
	position: absolute;
	top: 265px;
	font-size: 12px;
}