#gautitulo {
	position: absolute;
	top: 50%;
	left: 30%;
	font-size: 45px;
}

#dueño {
	position: absolute;
	top: 40%;
	right: 2%;
	font-size: 20px;	
}

#gauusuario {
	position: absolute;
	top: 70%;
	left: 2%;
	font-size: 20px;
}

#gaucategoria {
	position: absolute;
	top: 75%;
	left: 2%;
	font-size: 20px;
}

#gauciudad {
	position: absolute;
	top: 80%;
	left: 2%;
	font-size: 20px;
}

#gaupostulantes {
	position: absolute;
	top: 40%;
	left: 40%;
	font-size: 20px;
}

#gaudescripcion {
	position: absolute;
	top: 130%;
	left: 2%;
	font-size: 30px;
}

#gauimagen {
	position: absolute;
	top: 90%;
	left: 2%;
}