#filtro {
    position: absolute;
    width: 80%;
    font-size: 12px;
    margin: 0;
    top: 280px;
    left: 150px;
    padding-bottom: 50px;
}

#listado {
    position: absolute;
    width: 80%;
    font-size: 12px;
    margin: 0;
    top: 320px;
    left: 150px;
    padding-bottom: 50px;
}

#elemento {
	background: #F0C87A;
    margin-bottom: 30px;
    text-align: center;
    border-radius: 15px;
}

#publicar {
	position: absolute;
    top: 280px;
	left:90%;
	background: yellow;
	text-decoration: none;

}

#eletitulo {
    font-size: 28
}

#elecategoria {
    margin-left: 5px;
    text-align: left;
}

#eleciudad {
    margin-left: 5px;
    text-align: left;
}
#eledescripcion {
    margin-left: 5px;
}