#all{
}

#modificar {
    position: absolute;
	top: 0%;
    left: 60%;
	font-size: 22px;
    width: 200;
}

#perfil {
	position:relative;
	top: 60%;
	left: 10%;
	font-size: 45px;
}

    #foto {
	position: relative;
    left: 0px;
    z-index: 10;
}

    #pnombre {
	position: relative;
	font-size: 22px;
}

    #papellido {
	position: relative;
	font-size: 22px;
}

    #ptelefono {
	position: relative;
	font-size: 22px;
}

    #pemail {
	position: relative;
	font-size: 22px;
    
}

    #pcreditos {
	position: relative;
	font-size: 22px;
    width:200;
}

    #pnacimiento {
	position: relative;
	font-size: 22px;
    width: 200;
}

    #ppuntos {
	position: relative;
	font-size: 22px;
    width: 200;
}


    #preputacion {
	position: relative;
	font-size: 22px;
    width: 250;
}

#comentarios {
	position: relative;
	left: 10%;
	font-size: 45px;
    width: 450;
}

    #com {
	position: relative;
	top: 90%;
	font-size: 22px;
}

#gauchadas {
	position: relative;
	left: 10%;
	font-size: 45px;
}

    #gau {
	position: relative;
	font-size: 22px;
    text-decoration: none;
    float: left;
    width: 680;
}

    #estadoB {
	font-size: 22px;
    color:crimson;
}

    #estadoV {
	font-size: 22px;
    color:crimson;
}

    #estadoS {
	font-size: 22px;
    color:limegreen;
}

    #estadoC {
	font-size: 22px;
    color:limegreen;
}

    #estadoN {
	font-size: 22px;
    color:darkorange;
}

    #estadoCA {
	font-size: 22px;
    color:cornflowerblue;
}