#tabla1 {
	position: absolute;
	top: 60%;
	left: 1%;
	font-size: 45px;
}

#tabla2 {
	position: absolute;
	top: 60%;
	left: 55%;
	font-size: 45px;
}

#crear {
	position: absolute;
	top: 52%;
	left: 65%;
	font-size: 22px;
}